<div class="wrapper d-flex flex-column  bg-light">

      <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Trang Chủ</h1>
                        {{!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> --}}
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Tổng doanh thu (COD)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalAmountFormat}} </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Tổng doanh thu online</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalOnlineFormat}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">
                                                Tổng sản phẩm</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{courseNumber}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->


                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Lượng đơn hoàn thành</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{numberOfOrders}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <a href="profitDay">
                                            <div class="col mr-2">
                                                <div style="color:teal;" class="text-xs font-weight-bold text-uppercase mb-1">
                                                    Doanh thu trong ngày</div>
                                                <div style="color: black;" class="h5 mb-0 font-weight-bold text-gray-800">{{totalForTodayFormat}}</div>
                                            </div>
                                        </a>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <a href="profitDay">
                                        <div class="col mr-2">
                                            <div style="color: coral;" class="text-xs font-weight-bold text-uppercase mb-1">
                                                Doanh thu trong tháng</div>
                                            <div style="color: black;" class="h5 mb-0 font-weight-bold text-gray-800">{{totalInMonthFormat}}</div>
                                        </div>
                                        </a>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div style="color: cadetblue;" class="text-xs font-weight-bold text-uppercase mb-1">
                                                Doanh thu trong năm</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalForCurrentYearFormat}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        {{!-- <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div style="color: crimson;" class="text-xs font-weight-bold text-uppercase mb-1">
                                                Tổng doanh thu</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalSumFormat}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> --}}
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <form action="/admin/" method="get">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Tổng quan thu nhập (Năm): &nbsp; &nbsp;
                                            <input type="number" min="1900" max="2099" step="1" name="year" id="yearInput" /> &nbsp;
                                            <button type="submit">Tìm</button>
                                        </h6>
                                        <div class="dropdown no-arrow">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                            </a>
                                        </div>
                                    </div>
                               
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myChart" width="400" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Bình luận mới</h6>
                                </div>
                                    <div class="card-body">
                                        {{#each comment}}
                                            <h4 class="small font-weight-bold">{{this.username}}</h4>
                                        <div class="mb-4 content">
                                            {{this.content}}
                                        </div>
                                        {{/each}}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mb-4">

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Lượt đánh giá</h6>
                                </div>
                                <div class="card-body">
                                   <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <style>
    a {
        text-decoration: none;
    }

    .content{
        margin-left: 30px;
    }

    label {
    display: block;
    font:
        1rem 'Fira Sans',
        sans-serif;
    }

    input,
    label {
    margin: 0.4rem 0;
    }
  </style>

<script>
    // Get the current year
    const currentYear = new Date().getFullYear();

    // Set the value of the input to the current year
    document.getElementById('yearInput').value = currentYear;
</script>

<script>

    const data = {
        labels: ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5   ", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"],
        datasets: [
        {
            label: "Tổng đơn hàng theo từng tháng",
            data: [{{totalOfMonth1}}, {{totalOfMonth2}}, {{totalOfMonth3}}, {{totalOfMonth4}}, {{totalOfMonth5}}, {{totalOfMonth6}}, 
                {{totalOfMonth7}}, {{totalOfMonth8}}, {{totalOfMonth9}}, {{totalOfMonth10}}, {{totalOfMonth11}}, {{totalOfMonth12}}],
            backgroundColor: "rgba(75, 192, 192, 0.2)",
            borderColor: "rgba(75, 192, 192, 1)",
            borderWidth: 1,
        },
        ],
    };

    const ctx = document.getElementById("myChart").getContext("2d");
    const myChart = new Chart(ctx, {
    type: "bar",
    data: data,
    options: {
        scales: {
        y: {
            beginAtZero: true,
        },
        },
    },
    });

</script>

  
<script>

    window.onload = function() {
    var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Đánh giá sản phẩm"
            },
            data: [{
                type: "pie",
                startAngle: 240,
                yValueFormatString: "##0.00\"%\"",
                indexLabel: "{label} {y}",
                dataPoints: [
                    {y: {{evaluateGood}}, label: "Tốt"},
                    {y: {{evaluateNotGood}}, label: "Không tốt"},
                ]
            }]
        });
        chart.render();
    }
</script>


      <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->

