<div class="wrapper d-flex flex-column min-vh-100 bg-light">
    <p class="title-order">Đơn hàng đang được giao</p>
        <form action="/admin/order-shipping" method="get">
            <div>
            <input type="text" name="keyword" class="filter-search" placeholder="tìm tên người đặt">

            <button class="filter-btn" type="submit">Tìm</button>
            </div>
        </form>
    <table class="tbl-order table table-striped">
        <thead>
            <tr>
            <th class="order-stt">Stt</th>
            <th class="order-name">Tên người đặt</th>
            <th class="order-number">Số điện thoại</th>
            <th class="order-total">Trạng Thái</th>
            <th class="order-total">Tổng tiền</th>
            <th class="order-status">Chi tiết đơn hàng</th>
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
                <tr class="product">
                    <th scope="row">{{@index}}</th>
                    <td class="product-name">{{this.name}}</td>
                    <td class="product-name">{{this.phone}}</td>
                    <td class="product-name">{{paymentStatusConverString this.status}}</td>
                    <td>{{formatNumber this.total}}</td>
                <td>
                    <a href="/admin/detail-shipping/{{this._id}}" class="detai-order-status">Chi tiết</a>
                </td>
                </tr>
              {{/each}}
        </tbody>
    </table>
</div>