<div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
    <div class="sidebar-brand d-none d-md-flex">
      <a href="/admin/" class="title-admin">ADMIN</a>
    </div>
    {{#if staff}}
    
      <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
        {{#if (equal  staff.roleId.roleType 1)}}
          <li class="nav-title">Trạng thái đơn</li>
            <li class="nav-item"><a class="nav-link" href="/admin/order/">
                    <svg class="nav-icon">
                      <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
                    </svg>Nhận hàng thanh toán<span class="badge badge-sm bg-info ms-auto"></span></a>
                  </li>
                <li class="nav-item"><a class="nav-link" href="/admin/paypalAdmin/">
                  <svg class="nav-icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
                  </svg>Thanh toán Paypal</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/admin/qrAdmin/">
                  <svg class="nav-icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
                  </svg>Thanh toán QR</a>
                </li>
            <li class="nav-item"><a class="nav-link" href="/admin/order-comfirm/">
                <svg class="nav-icon">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-drop"></use>
                </svg> Đơn đã xác nhận</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/admin/order-shipping/">
                <svg class="nav-icon">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-drop"></use>
                </svg> Đơn đang được giao</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/admin/order-complete/">
                <svg class="nav-icon">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-drop"></use>
                </svg> Đơn đã hoàn thành</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/admin/order-cancel/">
                <svg class="nav-icon">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
                </svg> Đơn đã hủy</a>
            </li>
            {{else if (equal staff.roleId.roleType 5)}}
                          <li class="nav-title">Trạng thái đơn</li>
                          <li class="nav-item"><a class="nav-link" href="/admin/order/">
                    <svg class="nav-icon">
                      <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
                    </svg>Nhận hàng thanh toán<span class="badge badge-sm bg-info ms-auto"></span></a>
                  </li>
                <li class="nav-item"><a class="nav-link" href="/admin/paypalAdmin/">
                  <svg class="nav-icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
                  </svg>Thanh toán Paypal</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/admin/qrAdmin/">
                  <svg class="nav-icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
                  </svg>Thanh toán QR</a>
                </li>
                        <li class="nav-item"><a class="nav-link" href="/admin/order-comfirm/">
                            <svg class="nav-icon">
                              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-drop"></use>
                            </svg> Đơn đã xác nhận</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/admin/order-shipping/">
                            <svg class="nav-icon">
                              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-drop"></use>
                            </svg> Đơn đang được giao</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/admin/order-complete/">
                            <svg class="nav-icon">
                              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-drop"></use>
                            </svg> Đơn đã hoàn thành</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/admin/order-cancel/">
                            <svg class="nav-icon">
                              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
                            </svg> Đơn đã hủy</a>
                        </li>
            {{else}}
        {{/if}}




        {{#if (equal  staff.roleId.roleType 2)}}
          <li class="nav-title">Sản phẩm</li>
            <li class="nav-item"><a class="nav-link" href="/admin/product-admin/">
              <svg class="nav-icon">
                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
              </svg>Sản phẩm</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/admin/create-admin/">
              <svg class="nav-icon">
                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
              </svg>Thêm sản phẩm</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/admin/category-admin/">
              <svg class="nav-icon">
                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
              </svg>Danh mục sản phẩm</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/admin/category-admin/">
              <svg class="nav-icon">
                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
              </svg>Thêm danh mục</a>
            </li>

            {{else if (equal staff.roleId.roleType 5)}}
                <li class="nav-title">Sản phẩm</li>
                <li class="nav-item"><a class="nav-link" href="/admin/product-admin/">
                  <svg class="nav-icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
                  </svg>Sản phẩm</a>
                </li>
                {{!-- <li class="nav-item"><a class="nav-link" href="/admin/productsSold/">
                  <svg class="nav-icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
                  </svg>Sản phẩm đã bán</a>
                </li> --}}
                <li class="nav-item"><a class="nav-link" href="/admin/create-admin/">
                  <svg class="nav-icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
                  </svg>Thêm sản phẩm</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/admin/category-admin/">
                  <svg class="nav-icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
                  </svg>Danh mục sản phẩm</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/admin/createCategory/">
                  <svg class="nav-icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
                  </svg>Thêm danh mục</a>
                </li>
            {{else}}
        {{/if}}





        
        {{#if (equal  staff.roleId.roleType 4)}}
          <li class="nav-title">Kho hàng</li>
            <li class="nav-item"><a class="nav-link" href="/admin/productQuality/">
              <svg class="nav-icon">
                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
              </svg>Sản phẩm</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/admin/productsSold/">
              <svg class="nav-icon">
                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
              </svg>Sản phẩm đã bán</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/admin/category-admin/">
              <svg class="nav-icon">
                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
              </svg>Danh mục sản phẩm</a>
            </li>

            {{else if (equal staff.roleId.roleType 5)}}
                <li class="nav-title">Kho hàng</li>
                <li class="nav-item"><a class="nav-link" href="/admin/productQuality/">
                  <svg class="nav-icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
                  </svg>Sản phẩm</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/admin/productsSold/">
                  <svg class="nav-icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
                  </svg>Sản phẩm đã bán</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/admin/category-admin/">
                  <svg class="nav-icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
                  </svg>Danh mục sản phẩm</a>
                </li>
            {{else}}
        {{/if}}




          {{#if (equal  staff.roleId.roleType 3)}}
            <li class="nav-title">Khách hàng</li>
            <li class="nav-item"><a class="nav-link" href="/admin/userAdmin/">
              <svg class="nav-icon">
                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
              </svg>Danh mục khách hàng</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/admin/likeAdmin/">
              <svg class="nav-icon">
                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
              </svg>Sản phẩm yêu thích</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/admin/likeAdmin/">
              <svg class="nav-icon">
                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
              </svg>Bình luận sản phẩm</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/admin/commentAdmin/">
              <svg class="nav-icon">
                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
              </svg>Bình luận đánh giá</a>
            </li>

            {{else if (equal staff.roleId.roleType 5)}}
                <li class="nav-title">Khách hàng</li>
                <li class="nav-item"><a class="nav-link" href="/admin/userAdmin/">
                  <svg class="nav-icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
                  </svg>Danh mục khách hàng</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/admin/likeAdmin/">
                  <svg class="nav-icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
                  </svg>Sản phẩm yêu thích</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/admin/cmtAdmin/">
                  <svg class="nav-icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
                  </svg>Bình luận sản phẩm</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/admin/commentAdmin/">
                  <svg class="nav-icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
                  </svg>Đánh giá</a>
                </li>
            {{else}}

          {{/if}}



          {{#if (equal  staff.roleId.roleType 5 )}}
            <li class="nav-title">Quản lý nhân viên</li>
            <li class="nav-item"><a class="nav-link" href="/admin/staffAdmin/">
              <svg class="nav-icon">
                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
              </svg>Danh mục nhân viên</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/admin/createStaff/">
              <svg class="nav-icon">
                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
              </svg>Thêm nhân viên</a>
            </li>
          {{/if}}
      </ul>
      
  {{/if}}
    {{!-- <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button> --}}
  </div>