<div id="demo" class="carousel slide" data-ride="carousel">
	<video autoplay loop muted>
        <source src="/img/videowatch.mp4">
    </video>
</div>



<div class="Container s-spy="scroll" data-bs-offset="0" class="scrollspy-example" tabindex="0"">
	<a href="/courses/">
		<h2 class="mt-4 mb-0 text-center mona_title">ĐỒNG HỒ NAM</h2>
	</a>

	<div class="mt-4">
		<div class="row">
	
					{{#each male}}
						<div class="col-lg-3 col-md-4 col-sm-6 mix women ">
							<div class="product__item card-item">
								<div class="product__item__pic shadow bg-white rounded" data-setbg="">
									<a href="/detail/{{this.name_content}}">
										<img class="card-img-top" src="{{this.img}}" alt="Card image cap">
									</a>
									<ul class="product__hover">
										{{!-- <li><a href="/detail/{{this.name_content}}" class="image-popup"><span class="arrow_expand"></span></a></li> --}}
										<li><a id="btnThemVaoGioHang" href="/detail/like/{{courses._id}}"><span class="icon_heart_alt"></span></a></li>
										<li><a id="btnThemVaoGioHang" href="/cart/add-cart/{{this._id}}"><span class="icon_bag_alt"></span></a></li>
									</ul>
								</div>
								<div class="product__item__text">
									<h6><a href="/detail/{{this.name_content}}">{{this.name_content}}</a></h6>
									<div class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
									<div class="product__price">{{formatNumber this.total}}</div>
								</div>
							</div>
						</div>
					{{/each}}
		
		</div>
	</div>
</div>
<img src="/img/img-banner/Capture.JPG" class="mb-4 img_content" alt="">

<div class="Container mt-4">
	<a href="/female/">
		<h2 class="mt-4 mb-0 text-center mona_title">ĐỒNG HỒ NỮ</h2>
	</a>
	<div class="mt-4">
		<div class="row">
					{{#each femaleList}}
						<div class="col-lg-3 col-md-4 col-sm-6 mix women ">
							<div class="product__item card-item">
								<div class="product__item__pic shadow bg-white rounded" data-setbg="">
									<a href="/detail/{{this.name_content}}">
										<img class="card-img-top" src="{{this.img}}" alt="Card image cap">
									</a>
									<ul class="product__hover">
										<li><a id="btnThemVaoGioHang" href="/detail/like/{{courses._id}}"><span class="icon_heart_alt"></span></a></li>
										<li><a id="btnThemVaoGioHang" href="/cart/add-cart/{{this._id}}"><span class="icon_bag_alt"></span></a></li>
									</ul>
								</div>
								<div class="product__item__text">
									<h6><a href="/detail/{{this.name_content}}">{{this.name_content}}</a></h6>
									<div class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
									<div class="product__price">{{formatNumber this.total}}</div>
								</div>
							</div>
						</div>
					{{/each}}
		</div>
	</div>
</div>

<img src="/img/img-banner/Capture2.JPG" class="mb-4 capture2" alt="">


<div class="Container">
	<a href="/couple/">
		<h2 class="mt-4 mb-0 text-center mona_title">ĐỒNG HỒ ĐÔI</h2>
	</a>
	<div class="mt-4 ">
		<div class="row">
			{{!-- {{#each couplelist}}
			<div class="col-3 mt-4 mb-4 height">
				<div class="card card-item border border-white border-0">
					<a href="/detail/{{this.name_content}}">
						<img class="card-img-top" src="{{this.img}}" alt="Card image cap">
					</a>
					<div class="card-body">
						<a href="/detail/{{this.name_content}}" class="text-dark">
							<h5 class="card-title break-word text-center">{{this.name_content}}</h5>
							<p class="card-text text-center">{{this.total}}$</p>
						</a>
					</div>
				</div>
			</div>
			{{/each}} --}}

					{{#each couplelist}}
						<div class="col-lg-3 col-md-4 col-sm-6 mix women ">
							<div class="product__item card-item">
								<div class="product__item__pic shadow bg-white rounded" data-setbg="">
									<a href="/detail/{{this.name_content}}">
										<img class="card-img-top" src="{{this.img}}" alt="Card image cap">
									</a>
									<ul class="product__hover">
										<li><a id="btnThemVaoGioHang" href="/detail/like/{{courses._id}}"><span class="icon_heart_alt"></span></a></li>
										<li><a id="btnThemVaoGioHang" href="/cart/add-cart/{{this._id}}"><span class="icon_bag_alt"></span></a></li>
									</ul>
								</div>
								<div class="product__item__text">
									<h6><a href="/detail/{{this.name_content}}">{{this.name_content}}</a></h6>
									<div class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
									<div class="product__price">{{formatNumber this.total}}</div>
								</div>
							</div>
						</div>
					{{/each}}
		</div>
	</div>
</div>

<style>
	section{
		width: 100%;
	}
	.product {
	padding-top: 60px;
	padding-bottom: 50px;
}

.filter__controls {
	text-align: right;
	margin-bottom: 50px;
}

.filter__controls li {
	font-size: 14px;
	list-style: none;
	display: inline-block;
	color: #111111;
	margin-right: 35px;
	position: relative;
	cursor: pointer;
}

.filter__controls li.active:after {
	opacity: 1;
}

.filter__controls li:after {
	position: absolute;
	left: 0;
	bottom: -4px;
	height: 2px;
	width: 100%;
	background: #ca1515;
	content: "";
	opacity: 0;
}

.filter__controls li:last-child {
	margin-right: 0;
}

.product__item {
	margin-bottom: 35px;
}

.product__item:hover .product__hover li {
	opacity: 1;
	top: 0;
}

.product__item.sale .product__item__pic .label {
	background: #ca1515;
}

.product__item.sale .product__item__text .product__price {
	color: #ca1515;
}

.product__item__pic {
	height: 300px;
	position: relative;
	overflow: hidden;
}

.product__item__pic .label {
	font-size: 12px;
	color: #ffffff;
	font-weight: 500;
	display: inline-block;
	padding: 2px 8px;
	text-transform: uppercase;
	position: absolute;
	left: 10px;
}

.product__item__pic .label.new {
	background: #36a300;
}

.product__item__pic .label.stockout {
	background: #111111;
}

.product__item__pic .label.stockblue {
	background: #0066bd !important;
}

.product__item__pic .label.sale {
	background: #ca1515;
}

.product__hover {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 30px;
	margin-left: 20%;
}

.product__hover li {
	list-style: none;
	display: inline-block;
	margin-right: 10px;
	position: relative;
	top: 100px;
	opacity: 0;
}

.product__hover li:nth-child(1) {
	-webkit-transition: all 0.4s ease 0.1s;
	-o-transition: all 0.4s ease 0.1s;
	transition: all 0.4s ease 0.1s;
}

.product__hover li:nth-child(2) {
	-webkit-transition: all 0.4s ease 0.15s;
	-o-transition: all 0.4s ease 0.15s;
	transition: all 0.4s ease 0.15s;
}

.product__hover li:nth-child(3) {
	-webkit-transition: all 0.4s ease 0.2s;
	-o-transition: all 0.4s ease 0.2s;
	transition: all 0.4s ease 0.2s;
}

.product__hover li:last-child {
	margin-right: 0;
}

.product__hover li:hover a {
	background: red;
	color: black;
}

.product__hover li:hover a span {
	color: #ffffff;
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

.product__hover li a {
	font-size: 18px;
	color: white;
	background-color: #111111;
	display: block;
	height: 45px;
	width: 45px;
	
	line-height: 48px;
	text-align: center;
	border-radius: 50%;
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.product__hover li a span {
	position: relative;
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	display: inline-block;
}

.product__item__text {
	text-align: center;
	padding-top: 22px;
}

.product__item__text h6 a {
	font-size: 14px;
	color: #111111;
}

.product__item__text .rating {
	line-height: 18px;
	margin-bottom: 5px;
}

.product__item__text .rating i {
	font-size: 10px;
	color: #e3c01c;
	margin-right: -4px;
}

.product__item__text .rating i:last-child {
	margin-right: 0;
}

.product__item__text .product__price {
	color: #111111;
	font-weight: 600;
}

.product__item__text .product__price span {
	font-size: 14px;
	color: #b1b0b0;
	text-decoration: line-through;
	margin-left: 4px;
}

</style>

<script src="https://tudongchat.com/js/chatbox.js"></script>
<script>
  const tudong_chatbox = new TuDongChat('8Q27pmn9uy3CajRqwbYKs')
  tudong_chatbox.initial()
</script>


