
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

<div class="order-tab">
  <!-- Tab items -->
  <div class="tabs">
    <div class="tab-item active">
      Chờ xác Nhận
    </div>
    <div class="tab-item">
      Đã xác nhận
    </div>
    <div class="tab-item">
      Đang vận chuyển
    </div>
    <div class="tab-item">
      Hoàn thành
    </div>
    <div class="tab-item">
      Đã hủy
    </div>
    <div class="line"></div>
  </div>


  <div class="tab-content">
    <div class="tab-pane active">
      <table class="tbl-order table table-striped text-center">
        <tbody class="orderTbl">
          {{#each orders}}
            {{#if (or (equal this.status "da_dat_hang") (equal this.status "thanh_toan_paypal") (equal this.status "thanh_toan_qr"))}}
              <tr class="trOrder">
                <td class="nameOrder">{{this.name}}</td>
                <td>
                  {{#each this.products}}
                    {{this.name}}<br>
                  {{/each}}<br>
                </td>
                <td>{{this.totalQuantity}}</td>
                <td>{{this.total}}</td>
                <td><a href="/detailOrder/{{this._id}}">chi tiết</a></td>
              </tr>
            {{/if}}
          {{/each}}
        </tbody>
      </table>
    </div>


    <div class="tab-pane">
      <table class="tbl-order table table-striped">
        <tbody>
          {{#each orders}}
            {{#if (equal this.status 'xac_nhan')}}
              <tr>
                <td>{{this.name}}</td>
                <td>
                  {{#each this.products}}
                    {{this.name}}<br>
                  {{/each}}<br>
                </td>
                <td>{{this.totalQuantity}}</td>
                <td>{{this.total}}</td>
                <td><a href="/detailComfirm/{{this._id}}">chi tiết</a></td>
              </tr>
            {{/if}}
          {{/each}}
        </tbody>
      </table>
    </div>


    <div class="tab-pane">
      <table class="tbl-order table table-striped">
        <tbody>
          {{#each orders}}
            {{#if (equal this.status 'dang_van_chuyen')}}
              <tr>
                <td>{{this.name}}</td>
                <td>
                  {{#each this.products}}
                    {{this.name}}<br>
                  {{/each}}<br>
                </td>
                <td>{{this.totalQuantity}}</td>
                <td>{{this.total}}</td>
                <td><a href="/detailShipping/{{this._id}}">chi tiết</a></td>
              </tr>
            {{/if}}
          {{/each}}
        </tbody>
      </table>
    </div>


    <div class="tab-pane">
      <table class="tbl-order table table-striped">
        <tbody>
          {{#each orders}}
            {{#if (equal this.status 'hoan_thanh')}}
              <tr>
                <td>{{this.name}}</td>
                <td>
                  {{#each this.products}}
                    {{this.name}}<br>
                  {{/each}}<br>
                </td>
                <td>{{this.totalQuantity}}</td>
                <td>{{this.total}}</td>
                <td><a href="/detailComplete/{{this._id}}">chi tiết</a></td>
              </tr>
            {{/if}}
          {{/each}}
        </tbody>
      </table>
    </div>

    
    <div class="tab-pane">
      <table class="tbl-order table table-striped">
        <tbody>
          {{#each orders}}
            {{#if (equal this.status 'da_huy')}}
              <tr>
                <td>{{this.name}}</td>
                <td>
                  {{#each this.products}}
                    {{this.name}}<br>
                  {{/each}}<br>
                </td>
                <td>{{this.totalQuantity}}</td>
                <td>{{this.total}}</td>
                <td><a href="/detailCancel/{{this._id}}">chi tiết</a></td>
              </tr>
            {{/if}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>